#dashboard
  .span8
    h1 Notifications
    #notifications
      | {#notifications}
      .notification
        .alert(class="{#classes}{.} {/classes}")
          .body {text}
          .title {author} // {title}
      | {/notifications}
  .span4
     h1 Twitter Feed
     #twitter-widget

script
  $('#twitter-widget').twitterSearch({term: "{term|uc}", title: "{term}"})