extends layout

block script
  script(src='/javascripts/admin.coffee', type='text/coffeescript')

block content
  #page
    #header
      h1 Push @ pushy.io
    #sidebar
      #form
        #label Type
        select#inputType
          option(value='text') Text message
          option(value='image') Link to a picture
          option(value='web') Link to a website
      #form
        #label Text message
        input#input-text(type='text', name='name')
      #form
        #label Upload a picture
        input#input-file(type='file', name='name')
      #form
        #label Link to a picture
        input#input-image(type='text', name='name')
      #form
        #label Link to a website
        input#input-web(type='text', name='name')
      #form
        button#send Send
