.row
  .control-group.center-block
    label.control-label Display until
    .controls
      .input-append.bootstrap-timepicker
        input.timepicker.input-small(type="text")
        span.add-on
          i.icon-time
      .datepicker.input-append.date(style='margin-left: 20px')
        input(size="16", type="text")
        span.add-on
          i.icon-calendar