doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/dust.js')
    script(src='/javascripts/templates.js')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-datepicker.js')
    script(src='/javascripts/bootstrap-timepicker.min.js')
    script(src='/javascripts/coffee-script.js')
    script(src='https://raw.github.com/timrwood/moment/2.0.0/min/moment.min.js')
    script(src='/javascripts/jquery.twitter.search.js')
    block script
  body
    #header
      .container-fluid
        h1.pull-left Lab Screens
        h1#clock.pull-right
    block content
