#templates.hidden
  #template-notification.notification
    .alert
      .body
      .title
    .title
    .body

  a.twitter-timeline(href='https://twitter.com/search?q=%23ICHack', data-widget-id='300189295266893824') Tweets about "#ICHack"

  #dashboard-template
    .span8
      .notices

    .span4
      .twitter-widget