#templates.hidden
  #template-notification.notification
    .title
    .body

  a#template-twitter-widget.pull-right.twitter-timeline(href='#', data-widget-id='300189295266893824', width='100%')

  #dashboard-template
    .span8
      .notices

    .span4
      .twitter-widget
        TWITTER WIDGET
