body
  padding-bottom: 40px;
  color: #5a5a5a;


header
  // height: 50px;
  margin-bottom: 15px;
  background-color: #013f7a;
  color: #fff;


.link
  color: #08c;
  text-decoration: none;


.link:hover
  text-decoration: underline;


.centered
  text-align: center;


.loading
  text-align: center;
  background: url('/images/ajax-loader.gif') center center no-repeat;
  height: 32px;
  width: 100%;

