body
  padding-bottom 40px
  color #5a5a5a

header
  // height 50px
  margin-bottom 15px
  background-color #013f7a
  color #fff

.container-narrow
  width 700px
  margin 0px auto

.link
  color #08c
  text-decoration none

.linkhover
  text-decoration underline

.centered
  margin-left: auto
  margin-right: auto

.loading
  text-align center
  background url('/images/ajax-loader.gif') center center no-repeat
  height 32px
  width 100%

.hidden
  display: none

.vert-center
  padding 100px 0px 50px

#input-form
  height 250px

.center-block
  display: inline-block