body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#header
  margin: 0px 50px

#sidebar
  width: 450px
  float: left
  margin: 0px 50px

#form
  padding: 20px
  float: left
  clear: both

#label
  float: left
  margin-right: 20px

input
  float: left